{% extends 'base.html' %}
{% block title %}<title>Sign In</title>{% endblock %}

{% block content %}
    <div class="center">
        <h3>Sign in to Imageuploader</h3>
        {% if error %}
            <div style="color:red;">{{ error }}</div><br>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username" class="m-20 ">
            <input type="password" name="password" placeholder="Password" class="m-20">
            <input type="submit" value="Sign in">
        </form>
    </div>
{% endblock %}
