{% extends 'base.html' %}
{% block title %}<title>Profile</title>{% endblock %}
{% block hyperreferences %}
<a href=" {% url 'login' %}" class="right">Logout</a>
{% endblock %}
{% block content %}
<div>
  <h1>{{uid}}</h1>
  <h1>{{username}}</h1>

</div>
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
   {{ form.as_p }}
  <button type="submit">Upload</button>
</form>

{% if user_images %}
{% for i in user_images %}
    <h3>{{i.title}}</h3>
    <img src="{{ i.image_url }}" alt="connect" style="max-height:300px">
{% endfor %}
{% endif %}
{% endblock %}
